<h3>{{action}} new Todo</h3>
<form name="myform" role="form" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': myform.Text.$invalid}">


        <label for="Text" class="col-sm-2 control-label">Todo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Text" id="Text" placeholder="Todo" ng-model="item.Text">
            <span ng-show="!!myform.Text.$error.isBlank">Text Required.</span>
        </div>

    </div>
    <div class="form-group" ng-class="{'has-error': myform.Priority.$invalid}">
        <label for="Priority" class="col-sm-2 control-label">Priority</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="Priority" name="Priority" placeholder="Priority" ng-model="item.Priority">
            <span ng-show="!!myform.Priority.$error.isBlank">Priority Required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': myform.DueDate.$invalid}">
        <label for="DueDate" class="col-sm-2 control-label">Due Date</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="DueDate" name="DueDate" placeholder="dd/mm/yyyy" ng-model="item.DueDate">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type ="submit" ng-click="save()" class="btn btn-default" id="btn-new">{{action}}</button>
            <a href="#/" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>